<div>
  <div class="row">
    <div  class="col-md-3">
      <h1>
          FastPharma
      </h1>
    </div>
    <!-- <div class="col-md-3">
      <button class="btn btn-lg btn-secondary">
          <i class="fa fa-filter"></i> Favourites</button>
    </div> -->
  </div>

  <hr>

  <div class="col-md-9">

    <div class="container">
      <div class="row">
        <div class="col-sm-3 m-4" *ngFor="let drugstore of drugstores">
          <app-drugstore-card [drugstore]="drugstore">Loading drugstore...</app-drugstore-card>
        </div>
      </div>
    </div>

  </div>
</div>