.drugstore-logo{
    height: 100px;
    margin: 30px;
}


agm-map {
    height: 200px;
  }


.footer-map{
    position:absolute;
    bottom:20;
}

.thumbnail {
    position: relative;
}

.caption {
    height: 100px;
    width: 25%;
    margin-bottom: 25px;
}