<div>
  <div class="row">
    <div class="col-md-12">
      <div class="thumbnail text-center">
        <img [src]="drugstore?.logo" alt="" class="img-responsive caption">
      </div>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="col-md-10">

      <div class="container">
        <div class="row">
          <div class="col-sm-2 m-4" *ngFor="let drug of drugs">
            <app-drug-card [drug]="drug">Loading drug...</app-drug-card>
          </div>
          <div class="col-sm-2 m-4" *ngFor="let drug of drugs">
            <app-drug-card [drug]="drug">Loading drug...</app-drug-card>
          </div>
        </div>
      </div>
  
    </div>


  <hr/>

  <mat-divider></mat-divider>
  <mat-divider></mat-divider>

  <div class="row">
      <div class="col-md-12">
          <agm-map 
            [latitude]="this.latitude" [longitude]="this.longitude" (mapClick)="onChoseLocation($event)">
            <agm-marker
              [latitude]="this.latitude" [longitude]="this.longitude">
            </agm-marker>
          </agm-map>
      </div>
    </div>

  <mat-divider></mat-divider>
  <mat-divider></mat-divider>

  <div class="row">
    <div class="col-md-6">
        <div *ngIf="drugstore.phone"><strong>Phone:</strong> {{drugstore?.phone}}</div>
    </div>
  </div>

  <div class="row">
      <div class="col-md-6">
        <div><strong>Open hours:</strong> {{drugstore?.openingAt}} - {{drugstore?.closingAt}}</div>
      </div>
      <div *ngIf="drugstore?.address" class="col-md-6">
        <strong>Address: </strong> {{drugstore?.address?.street}} {{drugstore?.address?.number}}, <span class="pad-left"> {{drugstore?.address?.city}} </span>
      </div>
  </div>


  <hr/>


</div>
