<br>
<div class="container">
  <div class="row" *ngIf="authService.isAdmin">
    <div class="col-sm">
      <div class="float-right">
        <button type="button" class="btn btn-primary waves-light" data-toggle="modal" data-target="#exampleModalLong">
          Add Product
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="brand_select">By Brands:</label>
        <select class="form-control" name="" id="brand_select" [(ngModel)]="selectedBrand">
          <option *ngFor="let brand of brands" [ngValue]="brand">{{brand}}</option>
        </select>
      </div>
      <ul class="list-group">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
      </ul>
    </div>
    <div class="col-md-9">

      <div class="container">
        <div class="row">
          <!-- List of Products -->
          <div class="col-sm-4 mb-2" *ngFor="let product of productList | filterByBrand: selectedBrand | paginate: { itemsPerPage: 6, currentPage: page }">
            <div class="item">
              <div class=" mb-r">
                <!--Card-->
                <div class="card card-cascade wider">
                  <!--Card image-->
                  <a [routerLink]="['/products/product', product.$key]">
                    <div class="view overlay hm-white-slight">
                      <img [src]="product.productImageUrl" class="img-fluid" alt="" width="360px" height="640px">
                      <a>
                        <div class="mask waves-effect waves-light" mdbRippleRadius></div>
                      </a>
                    </div>
                  </a>
                  <!--/.Card image-->
                  <!--Card content-->
                  <div class="card-body text-center no-padding">
                    <!--Category & Title-->
                    <a class="text-muted">
                      <h5>{{ product.productCategory }}</h5>
                    </a>
                    <p class="card-title">
                      <strong>
                        <a [routerLink]="['/products/product', product.$key]" routerLinkActive="router-link-active">{{ product.productName }}</a>
                      </strong>
                    </p>
                    <!--Description-->
                    <p class="card-text">{{ product.productDescription }}
                    </p>
                    <!--Card footer-->
                    <div class="card-footer">
                      <span class="left">{{ product.productPrice }} $</span>
                      <span class="right">
                        <a placement="top" mdbTooltip="Quick Look" container="body" [routerLink]="['/products/product', product.$key]">
                          <i class="fa fa-eye"></i>
                        </a>
                        <a placement="top" mdbTooltip="Add to Wishlist" container="body" (click)="addFavourite(product)">
                          <i class="fa fa-heart"></i>
                        </a>
                        <a placement="top" mdbTooltip="Add to Wishlist" container="body" (click)="addToCart(product)">
                          <i class="fa fa-shopping-cart"></i>
                        </a>
                        <a placement="top" mdbTooltip="Remove Product" container="body" *ngIf="authService.isAdmin" (click)="removeProduct(product.$key)">
                          <i class="fa fa-trash"></i>
                        </a>
                      </span>
                    </div>

                  </div>
                  <!--/.Card content-->

                </div>
                <!--/.Card-->

              </div>
            </div>
          </div>
        </div>
        <!-- Pagination -->
        <div class="text-center mt-3">
          <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
      </div>
      <!--/.Card-->
    </div>
  </div>
</div>
<app-add-product></app-add-product>
<ng2-toasty></ng2-toasty>