<div class="item">
  <div class="mb-r">
    <!--Card-->
    <div class="card card-cascade wider">
      <!--Card image-->
      <a [routerLink]="['/pharmacies', drugstore.id]">
        <div class="view overlay hm-white-slight">
          <img [src]="drugstore.logo" class="img-fluid card-logo" alt="Enter drugstore">
          <a>
            <div class="mask waves-effect waves-light" mdbRippleRadius></div>
          </a>
        </div>
      </a>
      <!--/.Card image-->
      <!--Card content-->
      <div class="card-body text-center no-padding">
        <!--Category & Title-->
        <h5 class="card-title">
          <strong>
            <a [routerLink]="['/pharmacies', drugstore.id]" routerLinkActive="router-link-active">{{ drugstore.name }}</a>
          </strong>
        </h5>
        <div *ngIf="drugstore?.status" [ngSwitch]="drugstore?.status" [ngStyle]="getStatusStyle()">
          <div *ngSwitchCase="'open'">Open now</div>
          <div *ngSwitchCase="'closed'">Closed now</div>
        </div>
        <!--Card footer-->
        <div class="card-footer">
          <div class="right">

            <a *ngIf="userService?.isAdmin" class="float-left" matTooltip="Edit" container="body" (click)="openEditDialog(drugstore)">
                <i class="fa fa-edit"></i>
            </a>

            <a [ngStyle]="getStatusStyle()" matTooltip="View on map" container="body" (click)="openMapDialog()">
              <i class="fa fa-eye"></i>
            </a>
            <a class="float-right" matTooltip="Add to Favorites" container="body" (click)="toggleFavourite(drugstore)">
              <i [ngClass]="{'fav': isFav}" class="fa fa-heart fav" ></i>
            </a>
          </div>
        </div>

      </div>
      <!--/.Card content-->

    </div>
    <!--/.Card-->

  </div>
</div>

