<h1 mat-dialog-title>Drugstore map location</h1>
<div mat-dialog-content>

    <!-- <input matInput [(ngModel)]="data.lat"> -->

    <div class="row">
        <div class="col-md-12">
            <agm-map [latitude]="data.lat" [longitude]="data.long">
                <agm-marker
                    [latitude]="data.lat" [longitude]="data.long">
                </agm-marker>
            </agm-map>
        </div>
    </div>
    
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onClose()">Close</button>
  <!-- <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Save</button> -->
</div>