<h1 mat-dialog-title>Drugstore details</h1>
<div mat-dialog-content>

    <!-- <input matInput [(ngModel)]="data.lat"> -->


    <mat-form-field>
        <mat-label>Name:</mat-label>
        <input class="form-control label" matInput [(ngModel)]="data.name">
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>Opening:</mat-label>
        <input class="form-control" matInput [(ngModel)]="data.openingAt">
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>Closing:</mat-label>
        <input class="form-control" matInput [(ngModel)]="data.closingAt">
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>Latitude:</mat-label>
        <input class="form-control" matInput [(ngModel)]="data.lat">
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>Longitude:</mat-label>
        <input class="form-control" matInput [(ngModel)]="data.long">
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>Street:</mat-label>
        <input class="form-control" matInput [(ngModel)]="data.street">
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>City:</mat-label>
        <input class="form-control" matInput [(ngModel)]="data.city">
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>Number:</mat-label>
        <input class="form-control" matInput [(ngModel)]="data.number">
    </mat-form-field>
    
</div>
<div mat-dialog-actions>
  <!-- <button mat-button (click)="onClose()">Close</button> -->
  <button mat-button [mat-dialog-close]="data"  class="button">Save</button>
</div>