
input, textarea {
    font-size: 1em;
    margin: 10px;
    width: 60%;
    padding:1em 1em 1em 0;
    background: none;
    background-image: none;
    border: none;
    border-bottom: 1px solid #8e8e8e;
    color: #fff;
    border-radius: 0;
    transition: border-color .25s ease, box-shadow .25s ease;
}

input:focus, textarea:focus {
	outline: 0;
    border-color: #FFC107;
    color: #fff;
    background: none;
    background-image: none;
    
} 

.form {
    background: rgba(0, 0, 0, 0.55);
    border-radius: 20px;
    
    align-content: center;
    padding: 3em;

}


.mainw3-agileinfo {
    margin: 4em auto;
}

.logout{
    text-align: center;
    align-self: center;
}