<div>
    <h1>Edit Profile</h1>
    <hr>
    <div class="col-md-4 mainw3-agileinfo form">
      <div class="logout">
        <button type="button" class="button " (click)="logOut()">Log out</button>
      </div>
      <hr/>
      <div>
        <form [formGroup]="profileForm" (ngSubmit)="saveProfile(profileForm.value)"
        autocomplete="off" novalidate>

          <div class="form-group" [ngClass]="{'error' : !validateFirstName()}">
            <label for="firstName">Name:</label>

            <em *ngIf="!validateFirstName() && profileForm.controls.firstName.errors.required" 
            class="badge badge-pill badge-danger" >Required</em>

            <em *ngIf="!validateFirstName()  && profileForm.controls.firstName.errors.pattern" 
            class="badge badge-pill badge-danger">Must contain only letters</em>

            <input formControlName="firstName" id="firstName" type="text" class="form-control" placeholder="Name" />
          </div>

          <div class="input form-group" [ngClass] = "{'error': !validateEmail()}">
            <label for="email">Email:</label>

            <em *ngIf="!validateEmail() && profileForm.controls.email.errors.required" 
            class="badge badge-pill badge-danger" >Required</em>

            <em *ngIf="!validateEmail()  && profileForm.controls.email.errors.pattern" 
            class="badge badge-pill badge-danger">Invalid format</em>

            <input formControlName="email" id="email" type="text" class="form-control" placeholder="email@example.com" />
          </div>

          <div class="form-group" [ngClass] = "{'error': !validatePassword()}">
            <label for="password">New password:</label>
            <em *ngIf="!validatePassword()" 
            class="badge badge-pill badge-danger" >Required</em>
            <input formControlName="password" id="password" type="password" class="form-control" placeholder="password" />
          </div>
    
          <button type="submit" class="button btn-primary">Save</button>
        </form>
      </div>
    </div>
  </div>