<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <img src="favicon.png" [routerLink]="['/pharmacies']">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">


        <li class="nav-item">
          <a [routerLink]="['/user/home']" *ngIf="userService.isAdmin" class="nav-link" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Edit Users</a>
        </li>
        <li class="nav-item">     
            <a *ngIf="userService.isAdmin" [routerLink]="['/pharmacies']" class="nav-link" >Edit Drugstores</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/pharmacies/new']" *ngIf="userService.isAdmin" class="nav-link" routerLinkActive="active">New Pharmacy</a>
        </li>

        
        <li class="nav-item">     
            <a *ngIf="userService.isClient" [routerLink]="['/pharmacies']" class="nav-link" >Drugstores</a>
        </li>
        <li class="nav-item">     
            <a *ngIf="userService.isClient" [routerLink]="['/']" class="nav-link" >Medicaments</a>
        </li>
        <li class="nav-item">     
            <a *ngIf="userService.isClient" [routerLink]="['/user/orders']" class="nav-link">My Orders</a>
        </li>



        
        <li class="nav-item">     
            <a *ngIf="userService.isFarmacist" [routerLink]="['/user/my-drugstore', userService.appUser?.drugstoreId]" class="nav-link" >My Drugstore</a>
        </li>
        <li class="nav-item">     
            <a *ngIf="userService.isFarmacist" [routerLink]="['/user/all-orders']" class="nav-link" >All Orders</a>
        </li>

      </ul>

      
      <form id="searchForm" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="...">
        <button type="submit" class="btn btn-outline-primary">Search</button>
      </form>

      <div *ngIf="userService.isClient" [routerLink]="['/user/orders']" class="header pointer">
        <i class="fa fa-shopping-cart fa-2x cart" ></i>
        <a style="font-size: 25px">
          <label *ngIf="this.ordersCount > 0" id="lblCartCount" class="badge badge-warning">{{this.ordersCount}}</label>
        </a>
      </div>

      <div class="navbar-header navbar-right">
        <ul class="nav navbar-nav">
          <li>
            <a *ngIf="!userService.isAuthenticated()" [routerLink]="['user/login']" class="nav-link" >Login</a>
            <a *ngIf="userService.isAuthenticated()" [routerLink]="['user/profile']" class="nav-link">Hi {{userService.appUser?.firstName}}</a>
          </li>
        </ul>
      </div>
    </div>

</nav>

