#searchForm{
    margin-right: 30px;
}

.collapse .navbar-collapse{
    float: right;
}

nav {
    margin-bottom: 30px;
}

li > a.active {
}

.cart{
    color: white;
}

#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
}

.nav-link{
    margin-left: 10px;
}

.pointer{
    cursor: pointer;
}