<h1 mat-dialog-title>Edit user {{data.username}}</h1>
<div mat-dialog-content>

    <div class="row">
        <div class="col-md-12">
            <input class="form-control" matInput [(ngModel)]="data.username">
    </div></div>
    <div class="row">
        <div class="col-md-12">
            <input class="form-control" matInput [(ngModel)]="data.firstName">
    </div></div>
    <div class="row">
        <div class="col-md-12">
            <input class="form-control" matInput [(ngModel)]="data.lastName">
    </div></div>

</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Save</button>
  <button mat-button (click)="onClose()">Close</button>
</div>


