

<div class="container">
<h3>All registered users:</h3>
<hr/>

<table class="table table-hover">
    <th>username</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th></th>
    <th></th>
    <tr class="tr" *ngFor="let user of users">
        <td>{{user.username}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td><button class="btn btn-primary" (click)="editUser(user.id)">Edit</button></td>
        <td><button class="btn btn-secondary" (click)="deleteUser(user.id)">Delete</button></td>
    </tr>
</table>

</div>