<div class="container">
    <div *ngIf="this.userService.isAdmin">You don't need this page</div>
    
    <mat-tab-group *ngIf="this.userService.isFarmacist">
      <mat-tab label="Active orders">
        <h3 *ngIf="!this.activeOrders">There are no active orders yet.</h3>

        <table *ngIf="this.activeOrders" ng-table="activeOrders" class="table table-hover" show-filter="true">
              <tbody>
                <tr *ngFor="let order of activeOrders">
                
                  <form #ordersForm="ngForm" (ngSubmit)="sendOrder(order[0].invoiceId)" novalidate>
                  
                    <table *ngIf="order?.length != 0" class="table">
                        <thead>
                            <tr>
                              <th scope="col">#{{order[0].invoiceId}}</th>
                              <th scope="col">Drug</th>
                              <th scope="col">Quantity</th>
                              <th scope="col">Date</th>
                              <th scope="col">Address</th>
                              <th scope="col">User</th>
                              <th scope="col">Total</th>
                            </tr>
                          </thead>
                      <tbody>
                        <tr *ngFor="let entry of order">
                          <td></td>
                          <td>{{entry.medicament.name}}</td>
                          <td>{{entry.medicament.quantity}}</td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td colspan="3">
                            <button type="submit" class="button float-right">Send order</button> 
                            </td>
                        </tr>
                      </tfoot>
                    </table>
                  </form>
                </tr>
              </tbody>
          



        </table>
      </mat-tab>
      <mat-tab label="Executed orders">
        ...
      </mat-tab>      
    </mat-tab-group>
  </div>
              