<h1>New Pharmacy</h1>
<hr>
<div class="row">
<div class="col-md-6">
  <form #newPharmacyForm="ngForm" (ngSubmit)="savePharma(newPharmacyForm)" novalidate>
    <div class="form-group">
      <label for="pharmacyName">Pharmacy name:</label>
      <em *ngIf="newPharmacyForm.controls.name?.invalid && newPharmacyForm.controls.name?.touched">Required</em>
      <input name="name" id="name" type="text" class="form-control" placeholder="Name of the Pharmacy" required/>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-6">
          <label for="pharmacyName">Opening hours:</label>
          <em *ngIf="newPharmacyForm.controls.opening?.invalid && newPharmacyForm.controls.opening?.touched">Invalid format</em>
          <input  name="opening" id="opening" type="text" class="form-control" placeholder="hh:mm" pattern="\d\d:\d\d"/>
        </div>
        <div class="col-md-6">
          <label for="pharmacyName">Closing hours:</label>
          <em *ngIf="newPharmacyForm.controls.closing?.invalid && newPharmacyForm.controls.closing?.touched">Invalid format</em>
          <input  name="closing" id="closing" type="text" class="form-control" placeholder="hh:mm" />
        </div>
      </div>
    </div>    
    
    <div class="form-group">
      <label for="pharmacyAdress">Pharmacy adress:</label>
      <div class="row">
        <div class="col-md-12">
          <input name="city" id="city" type="text" class="form-control" placeholder="City" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6" >
          <input  name="street" id="street" type="text" class="form-control" placeholder="Street" />
        </div>
        <div class="col-md-6" >
          <input name="number" id="number" type="text" class="form-control" placeholder="Number" />
        </div>
      </div>
    </div>

    <div class="form-group">
      <!-- <div class="row">
        <div class="col-md-9">
            <label for="pharmacyGeoLocation">Geographic location:</label>
        </div>
        <div class="col-md-3">
          <button class="btn btn-primary float-right">Map . . .</button>
        </div>
      </div>
   -->
      
      <div class="row" ngModelGroup="geolocation">
        <div class="col-md-6">
          <label for="latitude">Latitude:</label>
          <em *ngIf="newPharmacyForm.controls.geolocation?.controls.latitude?.invalid && newPharmacyForm.controls.geolocation?.controls.latitude?.touched">Invalid format</em>
          <input type="number" (ngModel)="latitude" name="latitude" id="latitude" type="text" class="form-control" placeholder={{latitude}} ng-maxlength="7" pattern="\d{2}.\d{2}" required/>
        </div>
        <div class="col-md-6">
          <label for="longitude">Longitude:</label>
          <em *ngIf="newPharmacyForm.controls.geolocation?.controls.longitude?.invalid && newPharmacyForm.controls.geolocation?.controls.longitude?.touched">Invalid format</em>
          <input type="number" (ngModel)="longitude" name="longitude" id="longitude" type="text" class="form-control" placeholder={{longitude}} ng-maxlength="7" pattern="\d{2}.\d{2}" required/>
        </div>
      </div>
    </div>
  
    <div class="mb-5">
      <button type="submit" class="btn btn-primary">Register</button>
      <button type="submit" class="btn btn-default" (click)="cancelRegistration()">Cancel</button>
    </div>
  </form>

</div>

<!-- the map -->
<div class="col-md-6">
    <agm-map 
      *ngIf="newPharmacyForm.controls.geolocation?.controls.latitude?.valid && newPharmacyForm.controls.geolocation?.controls.longitude?.valid"
      [latitude]="latitude" [longitude]="longitude" (mapClick)="onChoseLocation($event)">
      <agm-marker
        [latitude]="latitude" [longitude]="longitude">
      </agm-marker>
    </agm-map>
</div>

</div>