<div class="item">
    <div class="mb-r">
      <!--Card-->
      <div class="card card-cascade wider">
        <!--Card image-->
        <a [routerLink]="['/medicaments', drug.id]">
          <div class="view overlay hm-white-slight">
            <img [src]="drug.imageUrl" class="img-fluid card-logo" alt="Drug image">
            <a>
              <div class="mask waves-effect waves-light" mdbRippleRadius></div>
            </a>
          </div>
        </a>
        <!--/.Card image-->
        <!--Card content-->
        <div class="card-body text-center no-padding">
          <!--Category & Title-->
          <h5 class="card-title">
            <strong>
              <a [routerLink]="['/medicaments', drug.id]" routerLinkActive="router-link-active">{{ drug.name }}, 
                <div *ngIf="drug?.quantity">
                  {{drug.quantity}}
                  <span *ngIf="drug?.weight"> x {{drug.weight}}</span>
                </div>
              </a>
            </strong>
          </h5>
          <!--Card footer-->
          <div class="card-footer">
            <div class="right">
  
              <a class="float-right" matTooltip="Edit" container="body">
                  <i class="fa fa-edit"></i>
              </a>
              <a class="float-right"  matTooltip="Add to Favorites" container="body">
                <i class="fa fa-heart fav" ></i>
              </a>
              <a class="float-right" matTooltip="Add to cart" container="body" (click)="addToCart(drug.id, 1)">
                <i class="fa fa-shopping-cart" ></i>
              </a>
            </div>
          </div>
  
        </div>
        <!--/.Card content-->
  
      </div>
      <!--/.Card-->
  
    </div>
  </div>
  
  