
.forgot {
    text-align: center;
    font-size: 1em;
    font-weight: 300;
    cursor: pointer;
} 
.mainw3-agileinfo {
    width: 100%; 
} 

h1 {
    font-size: 3em;
    text-align: center;
    color: rgb(3, 83, 94);
    font-weight: 100;
}
.main-agileits {
    padding: 5em 0 0;
}
.mainw3-agileinfo {
    width: 50%;
    margin: 4em auto;
    padding: 3em;
}
.form a {
  text-decoration: none;
  color: #fff;
}
.form a:hover{
  color: #FFC107;
} 
.form {
    background: rgba(0, 0, 0, 0.36);
    border-radius: 20px;
    
    align-content: center;
    text-align: center;
    display: block;
}
form{
    text-align: center;
}
form div{
    display: block;
}

label.active .req {
	opacity: 0;
} 
label.highlight {
	color: #fff;
} 
input, textarea {
    font-size: 1em;
    margin: 15px;
    width: 60%;
    padding:1em 1em 1em 0;
    display: inline-block;
    background: none;
    background-image: none;
    border: none;
    border-bottom: 1px solid #8e8e8e;
    color: #fff;
    border-radius: 0;
    transition: border-color .25s ease, box-shadow .25s ease;
}

input:focus, textarea:focus {
	outline: 0;
	border-color: #FFC107;
} 
i{
	color: #012f30;
}
::placeholder{
    color: #006891;
}

textarea {
	border: 2px solid #a0b3b0;
	resize: vertical;
} 
.field-wrap {
	position: relative;
    margin-bottom: 20px;
    margin-top: 20px;
    display: inline;
} 



.button {
    padding: 1em;
    width: 70%;
    align-self: center;
    border: 0;
    outline: none;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    background:#06c7ca;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s ease;
    margin-top:2.2em;
	border-radius: 5px;
}

.button:hover, .button:focus {
    background: #01a7aa;
    letter-spacing: 5px;
}
.register{
    background: #7d489c;
    width: 60%;
}

.register:hover{
    background: #8822e9;    
}

.forgot-button{
    background: rgb(224, 168, 0);
}
.forgot-button:hover{
    background: rgb(255, 193, 7);
}