
      <div class="main-agileits">
        <h1>Welcome to FastPharma!</h1>
        <div class="mainw3-agileinfo form">
            <mat-tab-group [(selectedIndex)]="selectedIndex">
                <mat-tab label="Log in">
                  <form #loginForm="ngForm" autocomplete="off" (ngSubmit)="login(loginForm.value)" novalidate>
                    <div class="form-group field-wrap" >
                        <!-- <em *ngIf="loginForm.controls.username?.invalid && (loginForm.controls.username?.touched || mouseoverLogin)" class="badge badge-pill badge-danger">Required</em> -->
                        <i class="fa fa-2x fa-user"></i>
                        <input ngModel required name="username" id="username" type="text" placeholder="Username" />
                    </div>
                    
                    <div class="form-group field-wrap" >
                      <!-- <em *ngIf="loginForm.controls.password?.invalid && (loginForm.controls.password?.touched || mouseoverLogin)" class="badge badge-pill badge-danger" >Required</em>   -->
                      <i class="fa fa-2x fa-eye"></i>
                      <input ngModel required name="password" id="password" type="password" placeholder="Password" />
                    </div>

                    <p class="forgot"><a (click)="goToForgot()">Forgot Password?</a></p> 


                      <span (mouseenter)="mouseoverLogin=true" (mouseleave)="mouseoverLogin=false">
                        <button type="submit" class="button" [disabled] = "loginForm.invalid || loading">Log In</button> 
                      </span>
                      <hr/>
                  </form> 
                </mat-tab>

                <mat-tab label="Register">
                    <form #registerForm="ngForm" autocomplete="off" (ngSubmit)="register(registerForm.value)">
                        <div class="form-group field-wrap" >
                            <div><em [style.visibility]="(registerForm.controls.firstName?.invalid && (registerForm.controls.firstName?.touched || mouseoverRegister))?'visible':'hidden'" class="badge badge-pill badge-danger">Required</em></div>
                            <i class="fa fa-2x fa-user-circle"></i>
                            <input ngModel required name="firstName" id="firstName" type="text" placeholder="Name" />
                        </div>

                        <div class="form-group field-wrap" >
                            <div><em [style.visibility]="(registerForm.controls.email?.invalid && (registerForm.controls.email?.touched || mouseoverRegister))?'visible':'hidden'" class="badge badge-pill badge-danger">Required</em></div>
                            <i class="fa fa-2x fa-envelope"></i>
                            <input ngModel required name="email" id="email" type="email" placeholder="email@example.com" />
                        </div>

                        <div class="form-group field-wrap" >
                            <div><em [style.visibility]="(registerForm.controls.username?.invalid && (registerForm.controls.username?.touched || mouseoverRegister))?'visible':'hidden'" class="badge badge-pill badge-danger">Required</em></div>
                            <i class="fa fa-2x fa-user"></i>
                            <input ngModel required name="username" id="username" type="text" placeholder="Username" />
                        </div>

                        <div class="form-group field-wrap" >
                            <div><em [style.visibility]="(registerForm.controls.password?.invalid && (registerForm.controls.password?.touched || mouseoverRegister))?'visible':'hidden'" class="badge badge-pill badge-danger" >Required</em>  </div>
                          <i class="fa fa-2x fa-eye"></i>
                          <input ngModel required name="password" id="password" type="password" placeholder="Password" />
                        </div>
        

                        <span (mouseenter)="mouseoverRegister=true" (mouseleave)="mouseoverRegister=false">
                          <button type="submit" class="button btn-primary register" [disabled] = "registerForm.invalid || loading">Register</button> 
                        </span>
                        <hr/>
                      </form> 
                  </mat-tab>

                  <mat-tab id="forgot" label="Forgot">
                      <form #forgotForm="ngForm" autocomplete="off" (ngSubmit)="sendPasswordRequest(forgotForm.value)">
                    
                        <div class="form-group field-wrap" >
                            <i class="fa fa-2x fa-envelope"></i>
                            <input ngModel required name="email" id="email" type="email" placeholder="email@example.com" />
                        </div>

                        
                        <span (mouseenter)="mouseoverRegister=true" (mouseleave)="mouseoverRegister=false">
                            <button type="submit" class="button btn-primary forgot-button" [disabled] = "forgotForm.invalid || loading">Recover password</button> 
                          </span>
                      </form>
                  </mat-tab>
            </mat-tab-group>
          </div>	
        </div>	
      