/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


body {
    background: url(./background2.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* overflow: hidden; */
    padding: 10px 50px;
    
}

.button {
    border: 0;
    outline: none;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    background:#06c7ca;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s ease;
    margin-top:1em;
	border-radius: 5px;
    min-height: 33px;
    padding: 0 33px;
}
.button:hover, .button:focus {
    background: #01a7aa;
    letter-spacing: 3px;
}

.table {
    background-color: rgba(0, 0, 0, 0.5);
    background: rgba(255,255,255,0.5);
    border-bottom-color: #d50000;
}


em{
    float: right;
    color: #f1d21c;
    font-weight: bold;
    font-size: 13px;
}

footer{
    position:absolute;
    bottom:0;
}

mat-card{
    margin-top:10px;
}



agm-map {
    height: 300px;
  }



::placeholder{
    color: #006891;
}


.card {
    background-color: aliceblue;
}

.card:hover {
    background-color: #CBEBE5;
    cursor: pointer;
}


.card .card-footer {
    background-color: transparent;
}
  
.card .card-footer .left {
    float: left;
}
  
.card .card-footer .right {
    float: right;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
  
.card .card-footer .right a.active {
    color: #d50000;
}
.card .card-footer .right a {
    color: #757575;
    margin-left: 1rem;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
  
.card .card-footer .right a .fa-heart {
    color: #136270; 
}
  
.card .card-footer .right a .fav{
    color: rgba(255, 24, 24, 0.856);
}