
<div class="container">
  <div *ngIf="this.userService.isAdmin">You don't need this page</div>
  
  <mat-tab-group *ngIf="this.userService.isClient">
    <mat-tab label="Active orders">
          <h3 *ngIf="!this.activeOrders">There are no active orders yet.</h3>

          <table *ngIf="this.activeOrders" ng-table="activeOrders" class="table table-hover" show-filter="true">
            <form #ordersForm="ngForm" (ngSubmit)="checkoutOrders(ordersForm.value)" novalidate>
              <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Drug</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Total</th>
                  </tr>
                </thead>
                <tbody>
                    <tr class="tr" *ngFor="let order of activeOrders">
                      <td>
                        <img class="item" src = "{{order?.medicament?.imageUrl}}"/>
                      </td>
                      <td>{{order?.medicament?.name}}</td>
                      <td>
                        <input ngModel name="quantity" class="input number" type="number" value="{{order?.quantity}}" step="1" min="1">
                      </td>
                      <td>{{order?.medicament?.price}} RON</td>
                      <td>{{order?.medicament?.price * order?.quantity | number }} RON</td>
                      <td>
                        <div class="tooltip-element">
                          <i matTooltip="Delete order" 
                            matTooltipClass="example-tooltip-red"
                            class="fa fa-trash fa-2x">
                          </i>
                        </div>
                      </td>
                    </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Total:</td>
                    <td *ngIf="activeOrders">{{activeOrders[0].invoice.total | number}} RON</td>
                  </tr>
                  <tr>
                    <td colspan="3">
                        <button class="button btn-outline-primary empty-button" (click)="emptyShoppingCart(activeOrders[0].invoice.id)"> 
                            Empty shopping cart
                        </button>
                      </td>
                    <td colspan="3">
                      <button type="submit" class="button">Checkout order</button>
                    </td>
                  </tr>
                </tfoot>
              </form>
          </table>
      </mat-tab>

      <mat-tab label="Orders History"> 

        <h3 *ngIf="!this.sentOrders">There are no sent orders yet.</h3>

        <table *ngIf="this.sentOrders" ng-table="sentOrders" class="table table-hover" show-filter="true">
          <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Executed</th>
                <th scope="col">Total</th>
                <th></th>
              </tr>
            </thead>
            
            <tbody>
                <tr class="tr" *ngFor="let invoice of sentOrders" [ngSwitch]="invoice?.executed">
                  <td>{{invoice?.dataExec | date}}</td>
                  <td *ngSwitchCase="true">Yes</td>
                  <td *ngSwitchCase="false">Pending</td>
                  <td>{{invoice?.total | number }} RON</td>
                  <td>
                    <button class="btn btn-primary" *ngIf="!invoice?.executed" (click)="cancelOrder(invoice.id)">Cancel order</button>                    
                  </td>
                </tr>
            </tbody>
            <tfoot>
              <tr>
                <td></td>
                <td>
                  <!-- <button class="mx-auto" class="btn btn-outline-primary">Edit Order</button> -->
                </td>
                <td>
                </td>
              </tr>
            </tfoot>
        </table>


      </mat-tab>
  </mat-tab-group>
</div>